.side-admin {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  position: relative;

  .content-side-admin {
    display: flex;
    flex-direction: column;
    background-color: #dde6ed;
    height: 85%;
    border-radius: 10px;
    padding: 20px;

    .avatar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      & > img {
        width: 150px;
        border-radius: 50%;
        height: 140px;
      }
    }
    .infor {
      background-color: #fff;
      border-radius: 5px;
      flex: 1;
      margin-top: 20px;
    }
  }
}
